* {
    color: #333 !important;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
}
.bg-pink {
    background: #f3d1c8;
}

.navbar-brand img {
    width: 50px;
}

.navbar {
    padding: 30px 0;
}

.search {
    cursor: pointer;
}

.search-close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
}

#exampleModal .modal-body {
    padding: 3rem 7rem;
}

.searchInput,
.searchInput:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none;
}

.search-trend {
    width: 100%;
}

.nav-link span {
    margin-left: 10px;
}
.navbar-nav li {
    padding: 0 6px;
}
